:root {
  --btn-color: #ffffff;
  --main-title-color: #ffffff;
  --second-title-color: #2f303a;
  --third-title-color: #757575;
  --forth-title-color: #212121;
  --accent-color: #2196f3;
  --typical-margin: 20px;
  --fifth-title-color: #eee;
  --btn-soc: #afb1b8;
  --btn-hover: #188ce8;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-title-color);
  font-style: normal;
  font-size: 14px;
}
.list-style {
  list-style-type: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
}

/* ----------------HEADER------------- */

.header {
  border: 1px solid #ececec;
  background-color: var(--main-title-color);
}

.header-nav {
  display: flex;
  margin-right: auto;
}

.main-nav {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
}

/* .header-nav .item:(:last-child){
  margin-right: 50px;
} */
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}
.logo-accent {
  color: var(--forth-title-color);
}

.link {
  text-decoration: none;
}
/* .header-item { 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
} */
.nav-link {
  font-weight: 500;
  display: block;
  padding: 32px 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-right: auto;
  transition: color var(--timing-function);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.header-item {
  margin-right: 50px;
}
.header-nav .iteam + .iteam {
  margin-left: 50px;
}
.header-item {
  position: relative;
}
.header-item-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
}
.header-contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 32px 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
  transition: color var(--timing-function);
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.icon-mail,
.icon-tell {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.icon-mail,
.icon-tell {
  fill: currentColor;
}

/* --------------------HERO------------ */

.hero {
  background: var(--second-title-color);
  padding: 200px 0;
  max-width: 1600px;
  min-height: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/imgcomp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.hero-btn {
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;
  display: block;
  transition: background-color var(--timing-function);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--btn-color);
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--btn-hover);
}
.work-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.work-item:not(last-child) {
  margin-right: 8px;
}
li > .all {
  color: var(--main-title-color);
  background-color: var(--second-title-color);
}

.work-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color var(--timing-function), box-shadow var(--timing-function),
    color var(--timing-function);
}

.work-btn:hover,
.work-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-btn > .item > .work-btn:hover,
.work-btn > .item > .work-btn:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.btn-current {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.btn-current {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

/* portfolio projects */

.porfolio {
  background: var(--main-title-color);
  padding: 20px;
}
.works-title,
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
.project-item {
  background-color: var(--main-title-color);
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.project-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--timing-function);
}
.project-link:hover .box-overlay {
  transform: translateY(0);
}
.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.box-overlay {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  padding: 0 24px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  transform: translateY(100%);
  transition: transform var(--timing-function);
}

.porfolio-top-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-title-color);
  letter-spacing: 0.03em;
}
.portfolio-project {
  border-bottom: 1px solid var(--fifth-title-color);
  border-left: 1px solid var(--fifth-title-color);
  border-right: 1px solid var(--fifth-title-color);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.list-project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--forth-title-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--third-title-color);
}

/* ---------CHARACTERISTICS----------- */

.characteristics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--forth-title-color);
  margin-top: 0px;
  margin-bottom: 10px;
}
.characteristics-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.characteristics-item {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}
.characteristics-item:not(:last-child) {
  margin-right: 30px;
}
.characteristics-box-icon {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------ABOUT---------------- */
.about {
  padding-bottom: 94px;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
  margin-bottom: 50px;
}
.about-item {
  position: relative;
}
.about-item:first-child {
  margin-right: 30px;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-list {
  list-style: none;
  display: flex;
}
/* ------------ANIMATION------------ */
.image-name-desktop {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 70px;
  color: var(--btn-color);
  background: rgba(47, 48, 58, 0.8);
}

/* ---------------TEAM--------------- */
.box-team-name {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
  margin-bottom: 50px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
}
.team-name {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
  margin-bottom: 10px;
}
.team-list {
  list-style: none;
  display: flex;
}
.text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  margin-bottom: 30px;
}
.team-item:first-child {
  margin-right: 30px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-color: var(--btn-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  background-color: var(--btn-color);
}
.team-soc-item:not(:last-child) {
  margin-right: 10px;
}
.team-soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color var(--timing-function);
}
.team-soc-icon {
  fill: var(--btn-soc);
  transition: fill var(--timing-function);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--btn-color);
}

/* ---------------CLIENTS-------------- */
.clients-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  border: 1px solid var(--btn-soc);
  border-radius: 4px;
  padding: 16px 32px;
  transition: border-color var(--timing-function);
}
.clients-icon {
  fill: rgba(175, 177, 184, 1);
  transition: fill var(--timing-function);
}
.clients-link:hover,
.clients-link:focus,
.clients-link:hover .clients-icon,
.clients-item:focus .clients-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* -------------FOOTER----------------- */
.footer {
  background-color: var(--second-title-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.adress-box {
  margin-right: 70px;
}
.contacts {
  font-style: normal;
}
.footer-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-title-color);
}
.footer-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
  display: block;
  margin-bottom: 20px;
  transition: color var(--timing-function);
}
.adress-contacts {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.contacts-item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--timing-function);
}
.footer-soc-list {
  display: flex;
  justify-content: center;
}

.footer-conect {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-color);
  margin-bottom: 20px;
}
.footer-soc-item:not(:last-child) {
  margin-right: 10px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--timing-function);
}

.footer-soc-icon {
  fill: var(--btn-color);
  transition: fill var(--timing-function);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}
.footer-form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-color);
  margin-bottom: 20px;
}

.footer-form-sub {
  display: flex;
  align-items: center;
}

.footer-form {
  margin-left: 93px;
}
.footer-form-email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}
.footer-form-email:hover,
.footer-form-email:focus {
  border-color: var(--accent-color);
}
.footer-form-email,
.footer-form-email {
  transition: var(--timing-function);
}

.footer-form-label {
  margin-right: 10px;
}

.footer-btn-sub {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding: 10px 29px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
  color: var(--btn-color);
}
.footer-form-icon {
  fill: var(--btn-color);
  margin-left: 10px;
}

/* -------MODEL WINDOW------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  min-height: 581px;
  background-color: var(--main-title-color);
  border-radius: 4px;
  transition: transform 300ms linear;
  padding: 40px;
}
.modal-close-btn {
  position: absolute;
  padding: 0;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--btn-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn {
  transition: fill var(--timing-function);
}

.modal-close-btn .modal-btn:hover,
.modal-close-btn .modal-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
  margin-bottom: 16px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-label:last-child {
  margin-bottom: 0;
}

.form-label {
  position: relative;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 15px;
}

.icon-input {
  transition: fill var(--timing-function);
}

.form-input:hover + .icon-input,
.form-input:focus + .icon-input {
  fill: var(--accent-color);
}

.form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: var(--timing-function);
  outline: transparent;
}

.form-name {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--third-title-color);
  margin-bottom: 4px;
}
.form-chekbox {
  display: flex;
  align-items: center;
}
.form-chekbox label {
  margin-left: 7px;
}

.policy-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.policy-icon {
  width: 16px;
  height: 15px;
  margin-right: 6px;
  border: 2px solid;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-policy:checked + .policy-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: 11px 8px;
  background-repeat: no-repeat;
  background-position: center;
}

.policy-link {
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 5px;
}

.btn-modal {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;
  display: block;
  transition: background-color var(--timing-function);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--btn-color);
}
.modal-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--third-title-color);
}
.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 74px;
  resize: none;
}
